body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	padding: 5px;
}

h3 {
	font-weight: bold;
}

td {
	display: inline-flex;
	align-items: center;
	padding: 5px 0;
}

ol {
	list-style-type: decimal;
	margin-left: 60px;
}

.App {
	height: 100vh;
	width: 100vw;
	background-color: #222222;
	position: relative;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.mid {
	align-items: center;
}

.rel {
	position: relative;
}

.fixed {
	position: fixed;
}

.abs {
	position: absolute;
}

.tc {
	text-align: center;
}

.p-10 {
	padding: 10px;
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

.Header {
	background-color: #34a5da;
	width: 100vw;
	height: 10vh;
	min-height: 70px;
	position: fixed;
	top: 0;
}

.nav-links-container {
	padding-left: 50px;
}

.nav-link {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	font-weight: 900;
}

.Card {
	height: 55vh;
	min-height: 300px;
	width: 80vw;
	min-width: 350px;
	background-color: #ebebeb;
	align-items: baseline;
}

.Edit {
	opacity: 0.95;
	top: calc((100vh - 65vh) / 2);
	height: 65vh;
	width: 85vw;
	background-color: lightyellow;
}

.card-title-container {
	border-bottom: 2px solid #34a5da;
}

.card-text-container {
	margin: 30px 50px;
	height: calc(100% - 60px);
	width: 50%;
	min-width: 250px;
}

.card-data {
	margin-top: 20px;
}

.card-data-result {
	margin-left: 5px;
}

.Navbar {
	width: 80vw;
	min-width: 350px;
	justify-content: space-between;
}

.nav-btn {
	background: none;
	border: none;
	color: white;
	margin-top: 10px;
	font-size: 1.3rem;
	width: 150px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.blue-btn {
	background-color: #34a5da;
	height: 40px;
	width: 80px;
	border: none;
	border-radius: 15px;
	margin: 10px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.blue-btn:hover {
	box-shadow: 0 0 5px 1px lightgray;
}

.cancel:hover {
	background-color: tomato;
}

.edit:hover {
	background-color: yellow;
	color: darkgoldenrod;
}

.add:hover {
	background-color: darkgreen;
}

.blue-btn:hover,
.nav-btn:hover {
	cursor: pointer;
}

.Edit-btn-container {
	margin-top: 10px;
	bottom: 0;
	left: 0;
}

.Edit-field {
	background-color: none;
	border: none;
	color: black;
	font-size: 1rem;
	padding: 5px;
}

.Edit-name {
	font-size: 2rem;
	font-weight: bold;
	padding: 5px;
	width: 40%;
}

.card-count {
	right: 5px;
	top: 5px;
	font-size: 1.75rem;
	font-weight: bold;
}

.New-card-form {
	height: 60vh;
	min-height: 500px;
	width: 70vw;
	min-width: 300px;
	background-color: #ebebeb;
	z-index: 3;
	opacity: 0.9;
}

label {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

.add-field {
	padding: 5px;
	margin: 3px 20px;
	text-align: center;
	width: 80%;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
	.card-text-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	td {
		text-align: left;
	}
}
